<div class="fridge">

  <div class="inner_fridge">
    <div class="user_form form1">
      <h2>Resend unlock instructions</h2>

        <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>

            <div class="field-top"><%= f.email_field :email, placeholder: 'email', autofocus: true %></div>

            <div class="submit-button"><%= f.submit "Resend unlock instructions" %></div>
        <% end %>

        <%= render "devise/shared/links" %>
      
      </div>
    </div>
  </div>


