<div class="pan_plus_flame box">

  <div class="fridge">

    <div class="inner_fridge">

      <div class="form1">
        <h2>Change your password</h2>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.hidden_field :reset_password_token %>

            <div class="field-top"><%= f.label :password, "New password" %><br />
              <%= f.password_field :password, autofocus: true, autocomplete: "off" %></div>

            <div class="field-bottom"><%= f.label :password_confirmation, "Confirm new password" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

            <div class="submit_button"><%= f.submit "Change my password" %></div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
  
  <div class="firepit">
    <div class="fire">
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="spark"></div>
      <div class="spark"></div>
      <div class="spark"></div>
      <div class="spark"></div>
      <div class="spark"></div>
      <div class="spark"></div>
      <div class="spark"></div>
      <div class="spark"></div>
      <div class="spark"></div>
      <div class="spark"></div>
      <div class="spark"></div>
    </div>
  </div>
</div>