<form>
 
  <div class="container">
    <h2><%= label_tag(:q, "What Do iHave? | Select your Ingredients") %></h2>

      <select name="ingredients[]" multiple >
      <% @ingredients.each do |i| %>
        <option value="<%= i.id %>">
        <%= i.ingredient_name %>
        </option>
      <%end%>
    </select>
    
    <button type="submit">Choose Ingredients</button>
  </div>

</form>

<form class="recipe-search-form">

  <div class="chosen_ingredients">
    <h2>Chosen Ingredients</h2>
    
    <ul>
      <% if @results.present? %>
        <% @results.each do |r| %>
          <li class="search_term" data-id="<%=URI::encode(r.ingredient_name)%>"><%= r.ingredient_name %></li>
        <%end%>

      <%end%>
    </ul>

  </div>

</form>

<% recipesUrl = 'http://api.yummly.com/v1/api/recipes?_app_id=c8af64b9&_app_key=9b4d56a0e813fed791c590821441f01a' %>
        <% allowed_ingredients = '' %>
          <% if @results.present? %>
            <% @results.each do |r| %>
            <% term_chunk = '&allowedIngredient[]=' %>
            <% search_term = URI::encode(r.ingredient_name) %>
            <% allowed_ingredients += term_chunk + search_term %>  
            <%end%>
          <%end%>
        <% limit = '&maxResult=50' %>
        <% recipesUrl += allowed_ingredients + limit%>
    
        <%= button_to 'Search', recipesUrl, remote: true, method: 'get', form: {id: "recipe_search"} %>


<div class="recipes">
  
  <ul class="show-recipe">
    
  </ul>

</div>