<div class="recipes">
  <h2>iLove These Recipes</h2>
    <ul class="saved-recipe">
      <% @recipes.each do |r|%>
        <li><a href="<%= r.source_url %>"><%= r.recipe_name %></a></li>
        <img src="<%= r.image %>">
        <%= r.servings %>
        <%= r.total_time %>
    <% end %>

    <%= @recipes.inspect %>

    </ul>
</div>
  
</ul>