<header>

  <div class="title_header">
    <h1> <%= link_to 'What Can iCook', '/' %> </h1>
  </div>

  <nav>
    <div class="wrap">
      <ul class="drawers">

        <% if user_signed_in? %>
          <li class="contents entypo-flashlight">
            <%= link_to "Search", root_path %>
            <div class="drawer">
              <span class="handle"></span>
            </div>
          </li>

          <li class="contents entypo-book-open">
            <%= link_to "Saved Recipes", new_ingredient_path %>
             <div class="drawer">
              <span class="handle"></span>
            </div>
          </li>

          <li class="contents entypo-info">
           <%= link_to "About", about_path %>
             <div class="drawer">
              <span class="handle"></span>
              </div>
          </li>
          
          <li class="contents entypo-logout">
            <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
              <div class="drawer">
                <span class="handle"></span>
              </div>
          </li>

        <% else %>
          <li class="contents entypo-login"><%= link_to " Sign in", new_user_session_path %>
            <div class="drawer">
              <span class="handle"></span>
            </div>
          </li>
          <li class="contents entypo-user-add"><%= link_to " Sign up", new_user_registration_path %>
             <div class="drawer">
              <span class="handle"></span>
            </div>
          </li> 
        <% end %>
      </ul> 
    </div>
  </nav>
</header>