<!DOCTYPE html>
<html>
<head>
  <title>iCook</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Serif+Pro' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'soup_favicon.ico' %>
</head>
<body>

  <%= render 'layouts/header' %>

    <div class="pan_plus_flame box">
      <%= yield %>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <div class="firepit">
        <div class="fire">
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="flame"></div>
          <div class="spark"></div>
          <div class="spark"></div>
          <div class="spark"></div>
          <div class="spark"></div>
          <div class="spark"></div>
          <div class="spark"></div>
          <div class="spark"></div>
          <div class="spark"></div>
          <div class="spark"></div>
          <div class="spark"></div>
          <div class="spark"></div>
        </div>
      </div>

    </div>

</body>
</html>
