<!DOCTYPE html>
<html>
<head>
  <title>iCook</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Serif+Pro' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'soup_favicon.ico' %>

</head>
<body>

<%= render 'layouts/header' %>

<%= yield %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>



</body>
</html>
